## Authentication Test Run Report

# Test Cycle
Authentication Module Testing

# Environment
Browser : Chrome

# Test Summary

| Total Tests | Passed | Failed | Blocked |

| 10 | 9 | 1 | 0

# Failed Test 

TC-LOGIN-01

### Issue
User unable to login with valid credentials

Bug Report: 
BUG-LOGIN-001
